/* deal.css */

/* ======== 기본설정 ======== */

html {scroll-behavior: smooth;}

#wrap{width:100%; height:100%; background-color: #F8F8F8;}

h2{font-family:paybooc-B; font-size:12pt;}
.title_line{width:100%; height:3px; background-color: #f5f6f7; margin:20px 0;}

/* ===================== #headBox ======================== */

#headBox{
  width:100%; height:100px;
  background-color: #fff;
  border-bottom: 2px solid #f5f6f7;
  padding:25px 250px; box-sizing: border-box;
}

  h1{
    float:left;
    width:340px; height:60px;
    font-family: paybooc-B;
    margin-top:0;}

    .logo{
      float:left;
      width:128px; height:60px;
      background-image: url(../../../img/image/corepay_logo.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    h1 > span{
      float:left; 
      font-size:20pt; color:#4694D1; 
      line-height: 50px; margin-left: 10px;}


  #gnb{
    float:right; 
    width:540px; height:50px; 
    font-family: paybooc-M;
  }

    #gnb ul{width:100%; height:100%;}
    #gnb ul li{
      float:left; width:90px; height:100%; 
      line-height: 50px; font-size:12pt;
      text-align: center; color:#333;
    }

    #gnb ul li a {color:#333;}
    #gnb ul li:nth-child(5) a {color:#4694D1; font-weight: bold;}

/* ===================== #menuBox ======================== */
  .content{
    width:1400px; height:auto;
    margin:auto; margin-top: 30px;
  }

  .menuBox{
    float:left;
    width:160px; height:324px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem #ccc;
  }

    .menuBox > dl {width:100%; height:100%; text-align: center; font-family: payBooc-M;}
    .menuBox > dl > dt{width:100%; height:60px; line-height:60px; background-color: #8A8A8A; color:#fff; font-family: payBooc-B;}
    .menuBox > dl > dd{width:100%; height:44px; line-height:44px; font-size: 0.9rem; border-bottom:1px solid #D4D4D4; box-sizing: border-box;}
    .menuBox > dl > dd:last-child{border-bottom: 0;}
    
    dl.tabs dd.current{
      color:#4694D1;
      font-family: payBooc-B;
    }
    
    .tab-content{
      display: none;
    }
    
    .tab-content.current{
      display: inherit;
    }

/* ===================== #viewBox ======================== */
  .viewBox{
    float:right;
    width:1200px; height:800px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem #ccc;
    padding:24px 44px; box-sizing: border-box;
  }

  /* tab-1 : 기본등록정보 */
  .myinfoBox{
    width:1000px; height:auto;
    margin:auto; margin-top: 150px;
  }

    .my_info_table{
      width:100%; height:auto;
    }

      .my_info_table > tbody > tr{height:60px; font-family: nanum;}

      .my_info_table > tbody > tr > th{
        width:15%; border:1px solid #fff; 
        border-bottom:2px solid #f5f6f7; 
        padding-left:15px; box-sizing: border-box;
        font-size:1.1rem; 
      
      }

      .my_info_table > tbody > tr > td{
        width:85%; border:1px solid #fff; 
        border-bottom:2px solid #f5f6f7; 
        padding-left:15px; box-sizing: border-box;
        font-size:1.1rem;
      }
    
    .resetBtn{
      float:right; font-family:nanum;
      margin-top: 20px; width:80px; height:32px;
      background-color: #4694D1; color:#fff;
      border-radius: 5px;
    }

  .profile_modify_box{
    display:none;
    width:1000px; height:auto;
    margin:auto; margin-top: 150px;
  }

    .profile_modify_box form{width:100%; height:100%;}
    .profile_modify_ul{width:100%; height:100%;}
    .profile_modify_ul > li{width:100%; height:50px;}
    .profile_modify_ul > li > dl{width:100%; height:100%; font-size:1rem;}
    .profile_modify_ul > li > dl > dt{float:left; width:15%; height:100%; text-align: right;}
    .profile_modify_ul > li > dl > dd{float:left; width:30%; height:100%;}
    .profile_modify_ul > li > dl > dd > input{
      width:280px; height:36px; margin-top:-10px;
      margin-left: 30px;
      border:1px solid #ccc;
    }

    .profile_modify_ul > li:nth-child(2) > dl > dd > input{background-color: #EBEBEB;}
    .profile_modify_ul > li:nth-child(5) > dl > dd > input{background-color: #EBEBEB;}
    .profile_modify_ul > li:nth-child(6) > dl > dd > input{background-color: #EBEBEB;}
    

    .profile_modify_btn{
      float:right; margin-top: 20px; 
      width:165px; height:32px; font-size:1rem; color:#fff;
    }

    .profile_modify_btn > button {width:80px; height:32px; border-radius: 5px;}
    .profile_modify_no{float:left; background-color: #9f9f9f;}
    .profile_modify_yes{float:right; background-color: #4694D1;}

  /* tab-4 : 소명자료요청 */
  .exBox{
    width:100%; height:auto; 
    margin-top: 240px; font-family: nanum;
  }

    .ex_date{
      width:500px; height:80px;
      line-height: 80px; font-size:1.3rem;
      margin:auto;
    }

      .ex_date > span{float:left; margin-left: 50px;}
      .ex_input_date{float:right;}
      .ex_input_date > input{width:150px; font-size:1rem; }

    .ex_btn{
      width:120px; height:40px;
      margin:auto; margin-top: 20px; 
      color:#fff; font-size:1.2rem;
    }

      .ex_btn > button{
        width:100%; height:100%; background-color: #4998D3; 
        transition:transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
        box-shadow:0 4px 6px #36709c;
        border-radius: 5px;
      }

  /* tab-5 : 정산요청 */
  .caBox{
    width:460px; height:auto;
    margin:auto; 
  }

  .caBox > dl{width:100%; height:366px;}
  .caBox > dl > dt{float:left; width:150px; height:60px; font-weight: normal; line-height:60px;}
  .caBox > dl > dd{float:right; width:300px; height:60px; text-align: right; line-height:60px;}
  .caBox > dl > dd > span.dd_span{font-size:1.2rem; font-weight: 500;}

  .caBox > dl > dd > select{width:280px; height:40px; border:1px solid #D4D4D4; padding-left:5px; font-size: 0.9rem;}
  
  .caBox > dl > dd.ca_dd{height:100px;}
  .caBox > dl > dd > input[type=text]{
    float:right; margin-top: 10px; 
    width:280px; height:40px; 
    border: 1px solid #d4d4d4; 
    font-size: 0.9rem; outline: none;
    margin-bottom: 10px;
  }
  .caBox > dl > dd > ul {width:100%; height:auto; padding-left: 20px;}
  .caBox > dl > dd > ul > li {
    float:left; width:65px; height:30px; 
    font-size: 0.9rem; margin-right: 5px;
    border-radius: 5px; border:1px solid #d4d4d4; 
    line-height: 28px; text-align: center; 
  }
  .caBox > dl > dd > ul > li:last-child {margin-right: 0;}
  .caBox > dl > dd > ul.tabs > li.current{border:2px solid #4694D1;}

  .line{float:left; width:100%; height:1px; background-color: #D4D4D4;}

  .ca_p{padding-top: 50px;}
  .ca_p > p {font-size:0.875rem; word-break: keep-all;}

  .ca_btn{
    width:250px; height:40px;
    margin:auto; margin-top: 40px; 
    color:#fff; font-size:1rem;
  }

    .ca_btn > button{
      width:100%; height:100%; background-color: #4998D3; 
      border-radius: 5px;
    }



  /* tab-6 : 상담내역 */
  #conBox{
    width:1000px; height:800px;
    margin:auto; margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem #ccc;
    padding:36px 44px; box-sizing: border-box;
   }
  
    .con_content{width:1000px; margin:auto; padding-top:50px; box-sizing: border-box;}
  
    .panel-t{width:100%; height:30px;}
    .panel-t > ul{width:100%; height:100%;}
    .panel-t > ul > li {float:left; text-align: center; line-height:15px; font-size:12pt;}
    .panel-t > ul > li:nth-child(1){width:10%;}
    .panel-t > ul > li:nth-child(2){width:50%;}
    .panel-t > ul > li:nth-child(3){width:10%;}
    .panel-t > ul > li:nth-child(4){width:10%;}
    .panel-t > ul > li:nth-child(5){width:10%;}
    .panel-t > ul > li:nth-child(6){width:10%;}
  
    .panel-heading{padding:0; height:50px;}
    .panel-title > ul{width:100%; margin:0; padding:0; }
    .panel-title > ul > li{float:left; height:100%; line-height:50px; text-align: center; font-size:11pt; font-weight: normal;}
    .panel-title > ul > li:nth-child(1){width:10%;}
    .panel-title > ul > li:nth-child(2){width:50%;}
    .panel-title > ul > li:nth-child(3){width:10%;}
    .panel-title > ul > li:nth-child(4){width:10%;}
    .panel-title > ul > li:nth-child(5){width:10%;}
    .panel-title > ul > li:nth-child(6){width:10%;}

    .p_indicator{
      width:180px; height:60px;
      margin:auto; margin-top: 20px;
    } 
  
    .p_indicator ul{width:100%; height:100%}
    .p_indicator li{float:left; width:20px; font-size:1rem; line-height: 60px;}
  
    .p_indicator a{color:#333;}







