/* mypage_deal.css */

/* ======== 기본설정 ======== */

html {scroll-behavior: smooth;}

#wrap{width:100%; height:100%; background-color: #F8F8F8;}

h2{font-family:paybooc-B; font-size:12pt;}
.title_line{width:100%; height:3px; background-color: #f5f6f7; margin:20px 0;}

.mob_menu{display:none;}
.mob_menuBar{display:none;}

/* ===================== #headBox ======================== */

#headBox{
  width:100%; height:100px;
  background-color: #fff;
  border-bottom: 2px solid #f5f6f7;
  padding:25px 0px; box-sizing: border-box;
}

  .div{
    width:1400px; height:auto;
    margin:auto;
  } 

  h1{
    float:left;
    width:340px; height:60px;
    font-family: paybooc-B;
    margin-top:0;}

    .logo{
      float:left;
      width:128px; height:60px;
      background-image: url(../../../img/image/corepay_logo.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    h1 > span{
      float:left; 
      font-size:20pt; color:#4694D1; 
      line-height: 50px; margin-left: 10px;}


  #gnb{
    float:right; 
    width:540px; height:50px; 
    font-family: paybooc-M;
  }

    #gnb ul{width:100%; height:100%;}
    #gnb ul li{
      float:left; width:90px; height:100%; 
      line-height: 50px; font-size:12pt;
      text-align: center; color:#333;
    }

    #gnb ul li a {color:#333;}
    #gnb ul li:nth-child(5) a {color:#4694D1; font-weight: bold;}

/* ===================== #menuBox ======================== */
  .content{
    width:1400px; height:auto;
    margin:auto; margin-top: 30px;
  }

  .menuBox{
    float:left;
    width:160px; height:324px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem #ccc;
  }

    .menuBox > dl {width:100%; height:100%; text-align: center; font-family: payBooc-M;}
    .menuBox > dl > dt{width:100%; height:60px; line-height:60px; background-color: #8A8A8A; color:#fff; font-family: payBooc-B;}
    .menuBox > dl > dd{width:100%; height:44px; line-height:44px; font-size: 0.9rem; border-bottom:1px solid #D4D4D4; box-sizing: border-box;}
    .menuBox > dl > dd:last-child{border-bottom: 0;}
    
    
    dl.tabs dd a{color:#333;}

    dl.tabs dd.current a{
      color:#4694D1;
      font-family: payBooc-B;
    }

/* ===================== #viewBox ======================== */
  .viewBox{
    float:right;
    width:1200px; height:800px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem #ccc;
    padding:24px 44px; box-sizing: border-box;
  }

  .myinfoBox{
    width:1000px; height:auto;
    margin:auto; margin-top: 150px;
  }

    .my_info_table{
      width:100%; height:auto;
    }

      .my_info_table > tbody > tr{height:60px; font-family: nanum;}

      .my_info_table > tbody > tr > th{
        width:15%; border:1px solid #fff; 
        border-bottom:2px solid #f5f6f7; 
        padding-left:15px; box-sizing: border-box;
        font-size:1.1rem; 
      
      }

      .my_info_table > tbody > tr > td{
        width:85%; border:1px solid #fff; 
        border-bottom:2px solid #f5f6f7; 
        padding-left:15px; box-sizing: border-box;
        font-size:1.1rem;
      }
    
    .resetBtn{
      float:right; font-family:nanum;
      margin-top: 20px; width:80px; height:32px;
      background-color: #4694D1; color:#fff;
      border-radius: 5px;
    }

  .profile_modify_box{
    display:none;
    width:1000px; height:auto;
    margin:auto; margin-top: 150px;
  }

    .profile_modify_box form{width:100%; height:100%;}
    .profile_modify_ul{width:100%; height:100%;}
    .profile_modify_ul > li{width:100%; height:50px;}
    .profile_modify_ul > li > dl{width:100%; height:100%; font-size:1rem;}
    .profile_modify_ul > li > dl > dt{float:left; width:15%; height:100%; text-align: right;}
    .profile_modify_ul > li > dl > dd{float:left; width:30%; height:100%;}
    .profile_modify_ul > li > dl > dd > input{
      width:280px; height:36px; margin-top:-10px;
      margin-left: 30px;
      border:1px solid #ccc;
    }

    .profile_modify_ul > li:nth-child(2) > dl > dd > input{background-color: #EBEBEB;}
    .profile_modify_ul > li:nth-child(5) > dl > dd > input{background-color: #EBEBEB;}
    .profile_modify_ul > li:nth-child(6) > dl > dd > input{background-color: #EBEBEB;}
    

    .profile_modify_btn{
      float:right; margin-top: 20px; 
      width:165px; height:32px; font-size:1rem; color:#fff;
    }

    .profile_modify_btn > button {width:80px; height:32px; border-radius: 5px;}
    .profile_modify_no{float:left; background-color: #9f9f9f;}
    .profile_modify_yes{float:right; background-color: #4694D1;}

/* ======================================= 반응형 ======================================= */
/* ----------------------- 모바일 (~640px) -------------------- */
@media screen and (max-width: 640px) {

  #wrap{position: relative; width:100%; height:650px;}
  h2{font-size:11pt;}
  .title_line{margin:20px 0 0 0;}

  .mob_menuBar{
    position: absolute; z-index:10000;
    width:100%; height:100%;
  }

  .menu{
    width:300px; height:100%;
    background-color: #fff;
    padding-top:30px; box-sizing: border-box;
  }
    .close_btn{
      width:24px; height:24px;
      margin-left: 250px;
      background-image: url(../../../img/icons/close.png);
    }

    .menu > ul {width:100%; height:500px; padding-top: 50px;}
    .menu > ul > li {
      width:100%; height:48px; line-height: 48px; font-size:12pt;
      padding-left:20px; box-sizing: border-box;
      font-family: payBooc-M;
    }
    .menu > ul > li:nth-child(5){height:auto; padding-left: 0;}

    .menu > ul > li:hover{background-color: #F2F8FC;}
    .menu > ul > li:hover a {color:#4694D1; }

    .menu > ul > li:nth-child(5):hover{background-color: #fff;}

    .menu > ul > li:nth-child(6){margin-top:-20px;}

    .menu ul li a {color:#333;}
    .menu ul li dl dd:nth-child(3) a{color:#4694D1;}
    
      .menu ul li dl {width:100%; height:auto;}
      .menu ul li dl dt {
        width:100%; height:48px; line-height: 48px;
        padding-left:20px;
      }

      .menu ul li dl dt .menu_img{
        float:right;
        width:24px; height:24px;
        margin-top: 12px; margin-right: 12px;
        background-image: url(../../../img/icons/down.png);
      }
      .menu ul li dl dd {  
        display: none;
        width:100%; height:38px; line-height: 38px;
        padding-left:30px; box-sizing: border-box;
        font-size:0.9rem;
      }

      .menu ul li dl dd:hover{background-color: #F2F8FC;}
      .menu ul li dl dd:hover a{color:#4694D1;}

      .menu > ul > li:nth-child(5) {background-color: #fff;}
      .menu > ul > li:nth-child(5) a {color:#333;}
  /* ===================== #headBox ======================== */
  #headBox{position: static;}

    #headBox{
      width:100%; height:56px;
      padding:5px 20px; box-sizing: border-box;
      margin:auto;
    }

      .div{width:100%; height:100%;}

        h1{
          float:none;
          width:205px; height:50px;
          margin:auto;
        }

          .logo{
            float:left;
            width:80px; height:50px;
            background-image: url(../../../img/image/corepay_logo.png);
            background-position: 50% 50%;
            background-size: 100%;
            background-repeat: no-repeat;
          }
          
          h1 > span{margin-left: 5px; font-size:12pt;}

  #gnb{display:none;}

  .mob_menu{
    display:block;
    float:left; width:24px; height:24px; margin-top:12px;
    background-image: url(../../../img/icons/mob_menu.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* ===================== #menuBox ======================== */
  .content{
    width:100%; height:auto;
    margin:auto; margin-top: 30px;
  }

  .menuBox{
    display:none;
  }

  /* ===================== #viewBox ======================== */
  .viewBox{
    float:none;
    width:100%; height:520px;
    padding:24px; box-sizing: border-box;
  }

  .myinfoBox{
    width:100%; height:auto;
    margin:auto; margin-top: 20px;
  }

      .my_info_table > tbody > tr{height:60px;}

      .my_info_table > tbody > tr > th{
        width:30%; border:1px solid #fff; 
        border-bottom:2px solid #f5f6f7; 
        padding-left:15px; box-sizing: border-box;
        font-size:0.9rem; font-family: payBooc-B;
      
      }

      .my_info_table > tbody > tr > td{
        width:70%; border:1px solid #fff; 
        border-bottom:2px solid #f5f6f7; 
        padding-left:15px; box-sizing: border-box;
        font-size:0.875rem; font-family: payBooc-M;
      }
    
    .resetBtn{
      float:right; font-family:payBooc-M;
      margin-top: 20px; width:80px; height:32px;
      background-color: #4694D1; color:#fff;
      border-radius: 5px; font-size:0.9rem;
    }

  .profile_modify_box{
    display:none;
    width:100%; height:auto;
    margin:auto; margin-top: 50px;
  }

    .profile_modify_box form{width:100%; height:100%;}
    .profile_modify_ul{width:100%; height:100%;}
    .profile_modify_ul > li{width:100%; height:50px;}
    .profile_modify_ul > li > dl{width:100%; height:100%; font-size:0.9rem;}
    .profile_modify_ul > li > dl > dt{float:left; width:20%; height:100%; text-align: right; font-family: payBooc-B;}
    .profile_modify_ul > li > dl > dd{float:left; width:80%; height:100%; font-family: payBooc-M;}
    .profile_modify_ul > li > dl > dd > input{
      width:180px; height:36px; margin-top:-10px;
      margin-left: 30px;
      border:1px solid #ccc;
    }

    .profile_modify_btn{
      float:none; margin:auto; margin-top: 20px; 
      width:165px; height:32px; font-size:1rem; color:#fff;
    }

    .profile_modify_btn > button {width:80px; height:32px; border-radius: 5px; font-size:0.9rem; font-family: payBooc-M;}

}


/* -------------------- 태블릿 (641px ~ 1080px) ------------------ */
@media screen and (min-width: 641px) and (max-width: 1024px) {

  #wrap{height:auto;}
  h2{font-size:11pt;}
  .title_line{margin:20px 0 0 0;}

    #headBox{
      width:100%; height:80px;
      padding:15px 10px; box-sizing: border-box;
      margin:auto;
    }

      .div{width:100%; height:100%;}

        h1{
          float:left;
          width:210px; height:50px;
          font-family: paybooc-B;
          margin-top:0;}

          .logo{
            float:left;
            width:80px; height:50px;
            background-image: url(../../../img/image/corepay_logo.png);
            background-position: 50% 50%;
            background-size: 90%;
            background-repeat: no-repeat;
          }
          
          h1 > span{font-size:12pt;}


        #gnb{
          float:right; 
          width:360px; height:50px; 
          font-family: paybooc-M;
        }

          #gnb ul{width:100%; height:100%;}
          #gnb ul li{
            float:left; width:60px; height:100%; 
            line-height: 50px; font-size:9pt;
            text-align: center; color:#333;
          }

  /* ===================== #menuBox ======================== */
  .content{
    width:100%; height:auto;
    margin:auto; margin-top: 30px;
  }

  .menuBox{
    float:left; width:18%; 
  }

  /* ===================== #viewBox ======================== */
  .viewBox{
    float:right;
    width:80%;  height:700px;
  }

  .myinfoBox{
    width:100%; height:auto;
    margin:auto; margin-top: 120px;
  }

      .my_info_table > tbody > tr{height:60px; font-family: payBooc-M;}

      .my_info_table > tbody > tr > th{
        width:20%; 
        font-size:0.9rem; 
      
      }

      .my_info_table > tbody > tr > td{
        width:80%; 
        font-size:0.875rem;
      }
    

    .profile_modify_box{
      display:none;
      width:80%; 
    }

      .profile_modify_box form{font-family: payBooc-M;}
      .profile_modify_ul > li > dl > dt{font-size:0.9rem;}
      .profile_modify_ul > li > dl > dd{font-size:0.875rem;}
      
      .profile_modify_btn{
        float:none; margin:auto; margin-top: 20px; 
        width:165px; height:32px; font-size:0.9rem; color:#fff;
      }

}

/* -------------------- 랩탑 (1081px ~ 1400px) ------------------ */
@media screen and (min-width: 1025px) and (max-width: 1400px) {

  #wrap{height:840px;}

  /* ===================== #headBox ======================== */
  #headBox{
    width:100%; height:80px;
    padding:15px 20px; box-sizing: border-box;
    margin:auto;
  }

  .div{width:100%; height:100%;}

    h1{
      float:left;
      width:340px; height:50px;
      font-family: paybooc-B;
      margin-top:0;}

      .logo{
        float:left;
        width:100px; height:50px;
        background-image: url(../../../img/image/corepay_logo.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      
      h1 > span{font-size:18pt;}


    #gnb{
      float:right; 
      width:540px; height:50px; 
      font-family: paybooc-M;
    }

      #gnb ul{width:100%; height:100%;}
      #gnb ul li{
        float:left; width:90px; height:100%; 
        line-height: 50px; font-size:11pt;
        text-align: center; color:#333;
      }

/* ===================== #menuBox ======================== */
  .content{
    width:100%; height:auto;
    margin:auto; margin-top: 30px;
  }

  .menuBox{
    float:left; width:12%; 
  }

  /* ===================== #viewBox ======================== */
  .viewBox{
    float:right;
    width:86%; 
  }

  .myinfoBox{
    width:100%; height:auto;
    margin:auto; margin-top: 120px;
  }

  .profile_modify_box{
    display:none;
    width:100%; height:auto;
    margin:auto; margin-top: 130px;
  }

}




