/* store.css */

/* ======== 기본설정 ======== */

html {scroll-behavior: smooth;}

#wrap{width:100%; height:100%; background-color: #F8F8F8;}

h2{font-family:paybooc-B; font-size:12pt;}
.title_line{width:100%; height:3px; background-color: #f5f6f7; margin:20px 0;}

/* ===================== #headBox ======================== */

#headBox{
  width:100%; height:100px;
  background-color: #fff;
  border-bottom: 2px solid #f5f6f7;
  padding:25px 250px; box-sizing: border-box;
}

  h1{
    float:left;
    width:340px; height:60px;
    font-family: paybooc-B;
    margin-top:0;}

    .logo{
      float:left;
      width:128px; height:60px;
      background-image: url(../../../img/image/corepay_logo.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    h1 > span{
      float:left; 
      font-size:20pt; color:#4694D1; 
      line-height: 50px; margin-left: 10px;}


  #gnb{
    float:right; 
    width:540px; height:50px; 
    font-family: paybooc-M;
  }

    #gnb ul{width:100%; height:100%;}
    #gnb ul li{
      float:left; width:90px; height:100%; 
      line-height: 50px; font-size:12pt;
      text-align: center; color:#333;
    }

    #gnb ul li a {color:#333;}
    #gnb ul li:nth-child(6) a {color:#4694D1; font-weight: bold;}

/* ===================== #viewBox ======================== */
.viewBox{
  width:1400px; height:800px;
  margin:auto; margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem #ccc;
  padding:24px 44px; box-sizing: border-box;
}