/* api_openKey.css */

/* ======== 기본설정 ======== */

html {scroll-behavior: smooth;}

#wrap{width:100%; height:auto; background-color: #F8F8F8;}

h2{font-family:paybooc-B; font-size:12pt;}
.title_line{width:100%; height:3px; background-color: #f5f6f7; margin:20px 0;}

pre{
  color:#fff; background-color: #333;
}

code{
  font-family: monospace; 
  color:#fff;
}

/* ===================== #headBox ======================== */

#headBox{
  width:100%; height:100px;
  background-color: #fff;
  border-bottom: 2px solid #f5f6f7;
  padding:25px 0px; box-sizing: border-box;
}

  .div{
    width:1400px; height:auto;
    margin:auto;
  }


  h1{
    float:left;
    width:340px; height:60px;
    font-family: paybooc-B;
    margin-top:0;}

    .logo{
      float:left;
      width:128px; height:60px;
      background-image: url(../../../img/image/corepay_logo.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    h1 > span{
      float:left; 
      font-size:20pt; color:#4694D1; 
      line-height: 50px; margin-left: 10px;}


  #gnb{
    float:right; 
    width:540px; height:50px; 
    font-family: paybooc-M;
  }

    #gnb ul{width:100%; height:100%;}
    #gnb ul li{
      float:left; width:90px; height:100%; 
      line-height: 50px; font-size:12pt;
      text-align: center; color:#333;
    }

    #gnb ul li a {color:#333;}
    #gnb ul li:nth-child(4) a {color:#4694D1; font-weight: bold;}

  .mob_menu{display:none;}
  .mob_menuBar{display:none;}

/* ===================== #aside ======================== */
#issuedBox{
  display:none;
  position: absolute; z-index:10001;
  width:100%; height:920px;
  background-color: rgba(0,0,0, 0.7);
}

  .issued{
    position: absolute;
    width:850px; height:450px; background-color: #fff;
    top:0; bottom:0; right:0; left:0; margin:auto;
  }

    .close{
      width:30px; height:30px;
      margin-top: 10px; margin-right: 10px;
      background-image: url(../../../img/icons/close.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    .text{
      width:100%; height:auto;
      text-align: center;
      margin-top: 60px;
    }

    .text_p{font-size:1.2rem; font-weight: 600;}

    .text > span{
      display:inline-block;
      width:100%; font-size:1.1rem;
    }

    .keyBox{
      width:600px; height:140px; margin:auto;
      margin-top: 20px; border:2px solid #ccc;
      padding:25px 0; box-sizing: border-box;
      text-align: center;
    }

    .keyBox > ul {width:100%; height:100%;}
    .keyBox > ul > li {width:100%; height:50px;}

    .keyBox > ul > li > span{display:inline-block; width:340px;}
    .keyBox > ul > li > span.li_t{width:100px; font-weight: 500;}
    .keyBox > ul > li > input {width:350px; border:1px solid #fff; outline:0;} 

    .keyBox > ul > li > button{width:80px; height:28px; font-size:0.9rem; background-color: #fff; border:1px solid #d4d4d4; border-radius: 5px;}
    

    .scan_alarm {
      display:none;
      text-align: center; color:#4694D1; margin-top: 20px;}


/* ===================== #viewBox ======================== */
.viewBox{
  width:1400px; height:auto;
  margin:auto; margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem #ccc;
  padding:24px 44px; box-sizing: border-box;
  overflow:hidden;
}

.view_title{width:100%; height:auto; margin:auto;}
h2{font-family:paybooc-B; float:left; width:200px; line-height:20px; font-size:12pt;}

.api_issued{
  float:right;
  width:200px; height:40px; margin-top: 10px;
  border-radius: 5px; color:#fff; background-color: #4694D1;
}

.title_line{float:left; width:100%; height:3px; background-color: #f5f6f7; margin-top:5px;}


  .content{width:100%; height:auto;}

  /* ===================== 상단 api 체크 박스 ===================== */
  .checkBox{
    width:100%; height:460px; border:1px solid #d4d4d4;
    padding:24px; box-sizing: border-box; margin-top: 80px;
  }

    .openkey_ex{
      width:100%; height:auto;
      margin-top: 10px;
    }

    h3{font-family:paybooc-B; font-size:11pt; margin-top: 40px;}

    .checkBox > table{width:100%; height:auto; margin-top: 24px;}
    .checkBox > table > thead > tr > th {
      height:30px; text-align: center; border:1px solid #d4d4d4;
      background-color: #d4d4d4;
    }

    .checkBox > table > thead > tr > th:nth-child(1){width:20%;}
    .checkBox > table > thead > tr > th:nth-child(2){width:8%;}
    .checkBox > table > thead > tr > th:nth-child(3){width:8%;}
    .checkBox > table > thead > tr > th:nth-child(4){width:8%;}
    .checkBox > table > thead > tr > th:nth-child(5){width:8%;}
    .checkBox > table > thead > tr > th:nth-child(6){width:8%;}
    .checkBox > table > thead > tr > th:nth-child(7){width:8%;}
    .checkBox > table > thead > tr > th:nth-child(8){width:17%;}
    .checkBox > table > thead > tr > th:nth-child(9){width:5%;}

    .checkBox > table > tbody > tr > td {
      height:60px; text-align: center; border:1px solid #d4d4d4;
    }

    .checkBox > table > tbody > tr > td:first-child{text-align: left; padding-left:10px; box-sizing: border-box;}
    .checkBox > table > tbody > tr > td:first-child > span.date{font-size:0.9rem; color:#8A8A8A;}

    .checkBox > table > tbody > tr > td > button {width:50px; height:28px; font-size:0.9rem; background-color: #fff; border:1px solid #ccc; border-radius: 5px;}

    .key_ex{
      width:100%; height:auto;
      margin-top: 20px;
    }

  /* ===================== 하단 api 키 관리 ===================== */
  .key_management{
    width:100%; height:500px; 
    margin-top: 24px;
    border:1px solid #d4d4d4;
    padding:44px 24px; box-sizing: border-box;
  }

    .number{
      width:50px; height:50px;
      margin:auto; margin-bottom: 44px;
      background-color: #4694D1;
      font-family: payBooc-B;
      color:#fff; border-radius: 50%;
      text-align: center; line-height: 50px;
      font-size:20pt;
    }

    h4{
      text-align: center; font-family: payBooc-B;
      margin-bottom: 24px;
    }

    .key_management p {text-align: center; font-family: payBooc-M;}

    .key_management a {text-align: center; margin-top: 20px;}

    .code01{
      width:1000px; margin:auto; margin-top: 20px;
      line-height: 1.5rem; padding-top: 25px; box-sizing: border-box;
    }

    .code02{
      width:700px; margin:auto; margin-top: 50px;
      line-height: 1.5rem; padding-top: 25px; box-sizing: border-box;
    }

    .key_m03{height:1200px;}

    .code03{
      width:700px; margin:auto; margin-top: 50px; margin-bottom: 50px;
      line-height: 1.5rem; padding-top: 25px; box-sizing: border-box;
    }

    .key_m03 table {width:95%; height:auto; margin:auto;}

    .key_m03 table thead {font-family: payBooc-B; }
    .key_m03 table thead tr th{height:30px; padding-left:10px; border:1px solid #d4d4d4; background-color: #f5f6f7;}
    .key_m03 table thead tr th:first-child{width:15%;}

    .key_m03 table tbody {font-family: payBooc-M;}
    .key_m03 table tbody tr td{height:40px; font-size:0.9rem; padding-left:10px; border:1px solid #d4d4d4;}


    .key_m04_left{float:left; width:60%;}
    .key_m04_right{
      float:right; width:40%; height:400px;
      background-image: url(../../../img/image/api_key_m04_img.png);
      background-repeat: no-repeat;
    }
    
    .key_m05 {height:320px;}

    




 
 /* -------------------- 랩탑 (1024px ~ 1400px) ------------------ */
 @media screen and (min-width: 1024px) and (max-width: 1400px) {
 
 #wrap{height:860px;}
 
 #headBox{
   width:100%; height:80px;
   padding:15px 20px; box-sizing: border-box;
   margin:auto;
 }
 
 .div{width:100%; height:100%;}
 
   h1{
     float:left;
     width:340px; height:50px;
     font-family: paybooc-B;
     margin-top:0;}
 
     .logo{
       float:left;
       width:100px; height:50px;
       background-image: url(../../../img/image/corepay_logo.png);
       background-position: 50% 50%;
       background-size: contain;
       background-repeat: no-repeat;
     }
     
     h1 > span{font-size:18pt;}
 
 
   #gnb{
     float:right; 
     width:540px; height:50px; 
     font-family: paybooc-M;
   }
 
     #gnb ul{width:100%; height:100%;}
     #gnb ul li{
       float:left; width:90px; height:100%; 
       line-height: 50px; font-size:11pt;
       text-align: center; color:#333;
     }

 }